$primary-color: #ECEFF1;
$title-text-color: #c1c1c1;
$background-color: #ECEFF1;

$primary-bttn-color: #FFA726;

$icon-color: #A2A1A1;

$mobile-mockup-height: 736px;
$mobile-mockup-width: 414px;

$mobile-input-height: 50px /  $mobile-mockup-height * 100vh;
$mobile-input-border-radius: 50px;

$navbar-height: 70px / $mobile-mockup-height * 100vh;

$navbar-link-colors: black;

$navbar-background-color: #37474F;

$drawer-width: 35vw;

$button-bg-color: #FBFBFB;

$breakpoint: 600px;

$main-font-family: Roboto, sans-serif;
$roboto-thin-font-weight: 100;
$roboto-light-font-weight: 300;
$roboto-regular-font-weight: 400;

$shadow-color: rgba(0, 0, 0, .16);

@mixin common-box-shadow {
  box-shadow: 0 3px 6px 0px $shadow-color;
}

@mixin common-border-bttm {
  border-bottom: 1.2px solid darken($background-color,10%);
}

@mixin mobile-margin-top{
  margin-top: 40px /  $mobile-mockup-height * 100vh;
  margin-left: auto;
  margin-right: auto;
}

@mixin mobile-margin-bottom{
  margin-bottom: 40px /  $mobile-mockup-height * 100vh;
  margin-left: auto;
  margin-right: auto;
}


@mixin mobile-input {
  width: 360px / $mobile-mockup-width * 100vw;
  height: 50px /  $mobile-mockup-height * 100vh;
  border-radius: 50px;
  font-size: 5vw;
  @include mobile-margin-bottom();
}

@mixin desktop-input{
  width: 114px / $mobile-mockup-width * 100vw;
  height: 50px /  $mobile-mockup-height * 100vh;
  border-radius: 50px;
  font-size: 4vw;
  @include mobile-margin-bottom()
}


@mixin responsive-input{
  @include mobile-input;
  @media(min-width: $breakpoint){
    @include desktop-input;
  }
  @media (orientation: landscape){
      font-size: 3vh;
  }
}

@mixin icon-bttn{
  background-color: transparent;
  border: 0;
  &:focus{
    outline: 0;
  }
}

@mixin bttn-state($bg-color) {
  &:active, &:focus, &:hover, &.pressed {
    background-color: darken($bg-color, 10%);
  }
}

@mixin card-layout {
  border: 0;
  min-height: 101.68px;
  height: 101.68px / $mobile-mockup-height * 100vh;
  min-width: 300px;
  width: 346.26px / $mobile-mockup-width * 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  background-color: $button-bg-color;
  justify-content: space-evenly;
  align-items: center;
  @include common-box-shadow();
  @include bttn-state($button-bg-color);

}

@mixin  action-bttn {
  height: 18vw;
  width: 18vw;
  border-radius: 50%;
  font-size: 9vw;
  text-align: center;
  background-color: $button-bg-color;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 3vh;
  color: $primary-bttn-color;
  border: 0;
  //box-shadow: 0 7px 10px 0px $shadow-color;
  margin-right: 6vw;
  outline: 0;
  max-width: 93px;
  max-height: 93px;
  min-width: 64px;
  min-height: 64px;
  @include bttn-state($button-bg-color);
  @include common-box-shadow();
  @media(min-width: $breakpoint){
    font-size: 60px;
  }
  
}

@mixin modal-layout {
  .modal-body{
    @media(min-width: $breakpoint){
      flex-direction: column;
    }
  }
}

@mixin modal-form {
  .form-group, p{
    font-size: 2.5vh;
  }
  .form-group{
    margin-bottom: 77px / $mobile-mockup-height * 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    .dollar-sign{
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: larger;
    }
    input{
      width: 90%;
      margin-bottom: 0;
    }
  }
      .input-group{
        border-radius: 100px;
        &.error{
          border: 1px solid red;
        }
        border: 1px solid #ced4da;
      .form-control{
        border: 0;
        text-align: left;
  
        &:focus{
          outline: 0;
        }
      }
      .input-group-addon{
      display: flex;
      margin-right: 4%;
      svg{
        height: auto;
        width: 4vw;
        path{
          fill: #A2A1A1
        }                      
      }
    }
  }
}
  
@mixin mobile-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    max-width: 100%;
  }

  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #3c7dcf;
    border-radius: 0;
    box-shadow: none;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 93px / $mobile-mockup-height * 100vh;
    padding: 10px;
    background: white;
    border-bottom: .2vh solid #e9ecef;
    span{
      font-size: 40px / $mobile-mockup-height * 100vh;
    }
    h5{
      width: 100%;
      text-align: center;
      order: 1;
      font-size: 4.5vh;
      color: inherit;
      line-height: inherit;
    }
    button{
      order: 0;
    }
  }

  .modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
  }

  .modal-body {
    position: relative;
    width: 100%;
    font-weight: 300;
    overflow: auto;
    textarea{
      border-radius: 15px;
      height: 25%;
      margin-top: 12vw;
    }
    p, p a{
      text-align: center;
      font-size: 2.25vh
    }
  }
  .modal-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px / $mobile-mockup-height * 100vh;
    padding: 0;
    background: #f1f3f5;
    button{
      width: 100%;
      height: 100%;
      font-size: 3vh;
      font-weight: $roboto-thin-font-weight;
      border:0;
      background-color: $primary-bttn-color;
    }
  }
}





 
// $primary-bttn-pressed-color: #FFA33A;
// $delete-bttn-color;
// $delete-bttn-pressed-color;
// $negative-amount-color;
// $positive-amount-color;
// $primary-color;
// $accent-color;
// $button-background-color;
// $button-background-pressed-color;
// $navbar-background-color;
// $navbar-button-color;
// $navbar-button-pressed-color;
// $input-placeholder-color;

// $contrast-accent-color-off-darker: #FFA33A;
// $contrast-accent-color-darker: #FFA33A;
// $contrast-accent-color: #FFA33A;
// $dark-text-color: #174255;
// $dark-text-bg:  #44B2E2;
// $empty-bg: #B7C4C9;
// $empty-text-bg: $empty-bg;
// $disabled-color: #ccc;
// $light-card-bg: #F7F7F7;


// $mobile-height: 667px;
// $mobile-width: 375px;

// $login-button-text: #fff;
// $login-button-bg: #44B2E2;

// $slider-bg: $dark-text-color;
// $slider-color: #FFA33A;

// $nav-link-colors: #fff;
// $nav-link-size: 22px;
// $main-font-family: Roboto, sans-serif;
// $roboto-thin-font-weight: 100;
// $roboto-light-font-weight: 300;
// $roboto-regular-font-weight: 400;

// $mockup-height: 900px;
// $mockup-width: 1440px;

// $mobile-mockup-height: 736px;
// $mobile-mockup-width: 414px;



// $body-color: #0f0f0f;
// $body-link-color: #F7931A;
// $button-color: #EB971C;
// $button-pressed-color: #BE7A17;
// $empty-font-color: #C1C1C1;
// $dark-bttn-pressed-color: rgba(255, 255, 255, 0.16);
// $light-bttn-pressed-color: rgb(247, 247, 247);;
// $form-controls-height: 50px / $mockup-height * 100%;