%h2 Deposit
= form_for Transaction.new, url: deposit_funds_account_transactions_path(account_id: @selected_account.id), method: :post do |f|
  = f.text_field :description, placeholder: "Description"
  = f.number_field :amount
  = f.submit "Deposit"

  